// Font families
$font-family-body: 'Calibre-Regular', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-header: 'Circular-Bold', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-bold: 'Calibre-Semibold', 'Helvetica Neue', 'Arial', sans-serif;

// Font sizes
$font-size-base: 19px;

// Spacing
$default-spacing-small: 20px;
$default-spacing-big: 40px;

// Colours
$color-text-main: #323232;
$color-orange: #FF5E23;
$color-blue-gray: #E0E3E5;
$color-caption: #999999;
$color-accent: #EEEEEE;

// Section sizes
$height-nav: 60px;
$height-header: 70px;
$desktop-column-width: 760px;
