@font-face {
  font-family: 'Circular-Bold';
  src: url("/Circular-Bold.eot");
  // src: url("/fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Circular-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url("/Calibre-Regular.eot");
  // src: url("/fonts/Calibre-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url("/Calibre-Semibold.eot");
  // src: url("/fonts/Calibre-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url("/Calibre-Medium.eot");
  // src: url("/fonts/Calibre-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Calibre-Bold';
  src: url("/Calibre-Bold.eot");
  // src: url("/fonts/Calibre-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
