#skip_to_content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

header {
  height: $height-header;
  margin-bottom: $default-spacing-big;

  #logo {
    display: block;
    width: 35px;
    height: 48px;
    position: absolute;
    top: 11px;
    left: calc(50% - (35px / 2));

    img {
      width: 100%;
      height: 100%;
    }
  }

  #site_title,
  #link_contents {
    border-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-family-header;
    line-height: $height-header;

    &:hover {
      color: #555;
    }
  }

  #site_title {
    display: none;
  }

  #link_contents {
    height: $height-header;
    position: absolute;
    right: $default-spacing-small;
  }
}

#contents {
  padding: $default-spacing-small;
  background-color: $color-blue-gray;
  margin-bottom: $default-spacing-big;

  &.hideable {
    width: calc(90vw - (2 * #{$default-spacing-small}));
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }

  ul {
    li {
      margin-bottom: calc(#{$default-spacing-small} / 2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #close_contents {
    width: 24px;
    height: 24px;
    background-image: url('https://s3-eu-west-1.amazonaws.com/projectsbyif.com/shared/icon_close_dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: $default-spacing-small;
    right: $default-spacing-small;
    display: none;
  }
}

.toc {
  h3 {
    margin-top: $default-spacing-small;
    margin-bottom: $default-spacing-small;
  }
  ul {
    li {
      margin-bottom: $default-spacing-small / 3;
    }
  }
}

.content {
  padding: $default-spacing-small;

  &:last-of-type {
    margin-bottom: 0;
  }

  img {
    margin-top: calc(#{$default-spacing-big} - #{$default-spacing-small});
    width: 100%;
  }
}

nav {
  border-top: #{$color-accent} 1px solid;
  padding-left: $default-spacing-small;
  padding-right: $default-spacing-small;
  margin-top: $default-spacing-big;
  height: $height-nav;

  a {
    font-family: $font-family-bold;
  }

  span {
    display: none;
  }

  .previous,
  .next,
  .counter {
    float: left;
    margin-bottom: 0;
    height: $height-nav;
    line-height: calc(#{$height-nav} + 8px);
  }

  .previous,
  .next {
    width: $height-nav;
  }

  .counter {
    text-align: center;
    width: calc(100% - (2 * #{$height-nav}));
  }

  .next {
    text-align: right;
  }
}

footer {
  border-top: #{$color-accent} 1px solid;
}
#in_collaboration_with {
  padding: $default-spacing-small;

  a {
    height: 50px;
    display: inline-block;

    img {
      height: 50px;
    }
  }
}

.licence {
  padding: 0 0 $default-spacing-small 0;

  a {
    color: #999;
  }
}

.description{
  border-bottom: solid 1px #eee;
  padding-bottom:  #{$default-spacing-big};
  margin-bottom:  #{$default-spacing-big};
}

.highlight-section {
  background: #EEE;
  padding: 20px;

  div {
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 720px) {
  header {
    height: 96px;
    margin-bottom: calc(3 * #{$default-spacing-big});

    #logo {
      height: 69px;
      width: 51px;
      top: 14px;
      left: calc(50% - 25px);
    }

    #site_title {
      display: inline-block;
      height: 96px;
      line-height: 105px;
      position: absolute;
      left: calc(2 * #{$default-spacing-small});
      font-size: 14px;
    }

    #link_contents {
      font-size: 14px;
      height: 96px;
      line-height: 96px;
      right: calc(2 * #{$default-spacing-small});
    }
  }

  .content {
    padding: 0;
    width: $desktop-column-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(2 * #{$default-spacing-big});
  }

  .highlight-section {
    margin-bottom: calc(2 * 28px);

    div {
      width: $desktop-column-width;
      margin: 0 auto;
    }
  }

  #contents {
    div {
      width: $desktop-column-width;
      margin: 0 auto;
    }

    &.hideable {
      width: 300px;

      div {
        width: 100%;
        margin: 0;
      }
    }
  }

  nav {
    padding-left: calc(2 * #{$default-spacing-small});
    padding-right: calc(2 * #{$default-spacing-small});

    p {
      width: 33.333% !important;

      a {
        span {
          display: inline;
          font-family: $font-family-body;
        }
      }
    }
  }
}

@media print {
  a {
    border-bottom: 0;
  }

  .caption a {
    border-bottom: 0;
  }

  header {
    height: auto;
    padding: $default-spacing-small;
    margin-bottom: 0;

    #site_title {
      display: inline;
      font-family: $font-family-bold;
    }

    #logo {
      position: initial;
      margin-bottom: $default-spacing-big;
    }

    #link_contents {
      display: none;
    }
  }

  #content {
    margin-bottom: 0;

    img {
      width: 50%;
    }
  }

  #in_collaboration_with {
    display: none;
  }

  nav {
    display: none;
  }
}
