@use "config";

body {
  font-family: config.$font-family-body;
  font-size: config.$font-size-base;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #000;
}

em {
  font-style:italic;
}

strong {
  font-family: "Calibre-Semibold", "Helvetica Neue", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: config.$font-family-header;
  color: config.$color-text-main;
}

h1 {
  font-size: 2em;
  margin-bottom: config.$default-spacing-big;
  line-height: 1.1;
}

h2 {
  font-family: "Calibre-Bold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: config.$default-spacing-small;
  margin-top: config.$default-spacing-big;
}

h3 {
  font-family: "Calibre-Semibold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: config.$default-spacing-small;
  margin-top: config.$default-spacing-big;
}

h4, h5, h6 {
  margin-bottom: config.$default-spacing-small;
}

h6 {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 3px;
  font-family: "Calibre-Bold", "Helvetica Neue", "Arial", sans-serif;
}

p {
  margin-bottom: config.$default-spacing-small;

  &:last-of-type {
    margin-bottom: 0;
  }
}

blockquote {
  margin-bottom: config.$default-spacing-small;
  margin-left: config.$default-spacing-small;
  padding-left: config.$default-spacing-small;
  padding-top: 4px;
  border-left: #{config.$color-blue-gray} 2px solid;
}

.toc {
  h3 {
      letter-spacing: 1px;
      font-size: 16px;
      text-transform: uppercase;
      font-family: config.$font-family-header;
  }
}

.content {
  a {
    background-repeat: repeat-x;
    background-image: url("/images/line-black.svg");
    background-size: 4px 7px;
    background-position: 0 0.7em;

    &:hover {
      background-image: url("/images/line-orange.svg");
    }
  }

  ul {
    list-style-type: disc;
    margin-bottom: config.$default-spacing-small;

    li {
      margin-left: 20px;
    }
  }
  ol {
    margin-bottom: config.$default-spacing-small;

    li {
      margin-left: 20px;
      list-style-type:decimal;
    }
  }
}

.caption {
  color: config.$color-caption;
  font-size: 0.9em;
  margin-bottom: config.$default-spacing-big;

  a {
    color: config.$color-caption;
    border-bottom: #{config.$color-caption} 1px solid;
  }
}

.bold {
  font-family: config.$font-family-bold;
  color: config.$color-orange !important;

  .content_sublabel {
    color: config.$color-orange !important;
  }
}

#in_collaboration_with {
  text-align: center;

  p {
    line-height: 1;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: config.$font-family-header;
    margin-bottom: config.$default-spacing-small;
  }
}

.highlight-section {
  h2 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: config.$default-spacing-small;
    font-size: 1.4em;
  }
  ul {
    list-style-type: disc;
    margin-bottom: config.$default-spacing-small;

    li {
      margin-left: 20px;
    }
  }
  a {
    border-bottom: #212121 1px solid;
  }
}

.licence {
  text-align:center;
  font-size:0.9em;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 22px;
  }
}
