@import "fontface";
@import "config";
@import "reset";
@import "type";
@import "layout";

::selection {
  background: #212121;
  color: #FFF;
  text-shadow: none;
}

blockquote {
  font-size: 150%;
}

.narrator {
  p { 
    font-style: italic;
  }
  background-color: rgb(245, 245, 245);
}

strong {
  font-weight: bold;
}
