@use "fontface";
@use "config";
@use "reset";
@use "type";
@use "layout";
@use "page_styles";

::selection {
  background: #212121;
  color: #FFF;
  text-shadow: none;
}

blockquote {
  font-size: 150%;
}

.narrator {
  p {
    font-style: italic;
  }
  background-color: rgb(245, 245, 245);
}
